table.responsive span[data-type="responsive"]{
	display:none;
}

@media only screen and (max-width:768px){
	table.responsive span[data-type="responsive"]{
		float:left;
		width:45%;
		color:#a8a8a8;
	}
	
	table.responsive, table.responsive thead, table.responsive tbody, table.responsive th, table.responsive td, table.responsive tr { 
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
		display: block; 
	}
	
	table.responsive tr { 
		border: 1px solid #ccc;
		width: 100%;
	}
	
	table.responsive td{
		border: none;
		min-width:100%;
		width:100%;
	}
	
	table.responsive td:after{
		clear:both;
	}
	
	table.responsive th{
		display:none;
	}
	
}
