table.responsive span[data-type="responsive"]{
	display:none;
}

@media only screen and (max-width:768px){
	table.responsive span[data-type="responsive"]{
		display:inline-block;
		width:45%;
		color:#a8a8a8;
	}
	
	table, thead, tbody, th, td, tr { 
		box-sizing: border-box;
		display: block; 
	}
	
	table.responsive th{
		display:none;
	}
}
